/*********************************************************************************/
/* Basic setting for website                                                                          */
/*********************************************************************************/
*{
	margin: 0;padding: 0
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { 
margin:0; 
padding:0; 
}

body{
	background-color:  #eeeeee
}

table { 
border-collapse:collapse; 
border-spacing:0; 
}

fieldset,img { 
border:0; 
}


ol,ul { 
list-style:none; 
} 

caption,th { 
text-align:left; 
} 


q:before,q:after { 
content:''; 
} 
abbr,acronym { border:0; 
} 


.mainspace{
	box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.75);margin-left: 220px;margin-right: 20px; background-color: white;

}

.submitmainspace{
	box-shadow: 0px 2px 3px 3px rgba(0,0,0,0.75);margin-left: 220px;margin-right: 20px;padding-bottom: 20px; background-color: white
}

.pure-button{
	background-color:rgba(1,182,173,1);color: rgba(255,255,255,1)
}

.input-group{
	margin-top: 12px
}

.input-group-addon{
	padding: 6px 12px;font-size: 14px;font-weight: 400;line-height: 1;color: #555;text-align: center;background-color: #eee;border:1px solid #ccc;
}


.parametertext{
	height: 20px;padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;border:1px solid #ccc;
}

.btn{
	display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: 400;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;border:1px solid transparent;
}

.form-control{
	display: block;width: 70%;height: 34px;padding: 0px 0px; font-size: 14px;line-height: 1.42857143;color: #555;border: 1px solid #ccc;border-radius: 4px;
}

.wrapper{
	display: inline-block;width: 100%;background-color: #ffffff;
}




#sequencearea{
	padding-left: 25px;padding-bottom:10px ;
}

#parameterarea{
	padding-left: 25px;margin-top: -240px; border-top: 5px
}

#webtop{
	background: rgba(10,73,88,1);color:rgba(255,255,255,1) ;padding:30px;margin-bottom: 10px;margin-left: 180px
}

#tophead{
	font-size: 3.5em;margin-bottom: 0;margin-top: 25px; padding-left: 40px
}



#sidecolumn{
	background:rgba(10,73,88,1); position:fixed;float: left;width: 200px;padding: 12em 0em 50em 0em;z-index: 9999
}

#sampleload{
	border-style: dashed; border-color: rgba(10,73,88,1); margin: -270px 0px 350px 750px;padding:15px 70px 0 0;
}



#myfile{
	visibility:;
}

#uploadbutton{
	margin-left: 30px; margin-bottom: 20px; margin-top: 10px
}

#cellType{
	border-style: dashed;border-color: rgba(10,73,88,1);margin-top: -30px;margin-left: 20px;border-right: -500px;width: 50%
}

#tiparea{
	border-style: dashed;;border-color: rgba(10,73,88,1);margin:30px 30px 30px 30px;
}

#submitmission{
	border-style: dashed;;border-color: rgba(10,73,88,1);margin:30px 50px 30px 950px;
}

#obtainresult{
	border-style: dashed;;border-color: rgba(10,73,88,1);margin:30px 50px 30px 950px;
}

#probeLengthwords{
	margin-left: 70px;margin-top: 10px
}

#Meltingtemperature{
	margin-left: 70px;margin-top: 10px
}

#strmodeselect{
	margin-left: 70px;margin-top: 10px
}

#probeLength{ \

}

#meltingtem{
	
}

#serverstatus{
	background-color: rgba(234,227,227,1); color: rgba(255,255,255,1); height: 100px;margin-top:-1000px;margin-left: 950px;margin-right: 50px
}

#Copyright{
	font-family:; color: black;text-align: center;
}

#submitbutton{
	margin-left: 10px;margin-top: 10px 
}
/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/


	
	#menu li
	{
		border-top: 1.5px solid rgba(255,255,255,1);list-style: none;display: block;
	}

	
	#menu li a, #menu li span
	{
		display: block;
		padding: 30px 4px;
		text-align: center;
		text-decoration:  none;
		text-transform:none;
		font-weight: 700;
		color: rgba(255,255,255,1);
		font-size: 19px
	}
	
	#menu li:hover a, #menu li.active a, #menu li.active span
	{
	}
	
	
	#menu .icon
	{
	}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/
